.PopUp {
    /* width: 80vw; */
    height: 40vh;
    background-color: #110559;
    position: fixed;
    top: 30vh;
    /* left: 13vw; */
    border-radius: 40px;
}

.infoBlock {
    background-color: transparent;

}

.infoBlock * {
    margin-bottom: 10px;
    background-color: transparent;
    font-size: larger;
}

.button {
    margin-top: 20px;
}