label {
    font-size: 1.2em;
}

input {
    margin-top: 2em;
}

.ContactForm {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.button {
    width: 250px;
    line-height: 2.5em;
    border-radius: 20px;
    color: #030226;
    font-weight: 700;
    font-size: 1.2em;
}