.carousel {
    height: fit-content;
    justify-content: space-around;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    margin-left: 0 !important;
    margin-right: 1em !important;
}



#slide {
    object-fit: contain;
    max-height: 55vh;
    max-width: 70vw;
    border-radius: 30px;
    margin: 0 .5em;
}

.description>* {
    margin: 1em 2rem;
}

.description h1 {
    font-size: 2em;
    font-weight: 700;
}

.links>* {
    display: block;
    margin: 0 2em 1em 0;

}

#prev {
    background-image: url('/src/assets/left.png');
    margin-right: 1em;
}

#next {
    background-image: url('/src/assets/right.png');
}

.prev,
.next {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.ProjectPage {
    padding: 0 20px;
}

.repoLink {
    font-weight: 800;
    font-style: italic;
}