.carousel {
    width: 70vw;
    height: 50vh;
    justify-content: space-between;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.carousel img {
    object-fit: cover;
    height: 55vh;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgb(209, 244, 159, 0.3);
    margin-bottom: 2em;
}

.description>* {
    margin: 1em 0;
}

.description h1 {
    font-size: 2em;
    font-weight: 700;
}

.links>* {
    display: block;
    margin: 0 2em 1em 0;

}

.prev {
    background-image: url('/src/assets/left.png');
}

.next {
    background-image: url('/src/assets/right.png');
}

.prev,
.next {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.ProjectPage {
    padding: 0 20px;
}

.repoLink {
    font-weight: 800;
    font-style: italic;
}